* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(188, 235, 188);
  }

input[type="text"] {
    padding: 5px;
    width: 200px;
  }
  
  button {
    padding: 5px;
    width: 100px;
  }

  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  img{
    width: 400px;
    height: 400px;
  }
